.venv/ 
__pycache__/ 
*.pyc 
.env 
data/raw/ 
data/processed/ 
static/uploads/ 
static/outputs/ 
data/aihub_json/
data/ml_dataset/
aihub_json/
data/aihub/ml_dataset/
*.pkl
*.joblib
models/ml/.idea/ 
.idea/