.venv/ 
__pycache__/ 
*.pyc 
.env
data/
data/raw/ 
data/processed/ 
static/uploads/ 
static/outputs/ 
data/aihub_json/
data/ml_dataset/
aihub_json/
data/aihub/ml_dataset/
*.pkl
*.joblib
.idea/
aihub_wildlife_metadata.csv
models/ml/